{% extends "base.html" %}



{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Home</h1>
            <p class="lead fw-normal text-white-50 mb-0">Select and Enjoy your Meal</p>
        </div>
    </div>
</header>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                   {% for pro_obj in pro_objs %}
                   {% if pro_obj.is_deal %}
                   <div class="col mb-5">
                       <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Deal</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="{{pro_obj.product_image.url}}" alt="..." />
                           <!-- Product details-->
                           <div class="card-body p-4">
                               <div class="text-center">
                                   <!-- Product name-->
                                   <h5 class="fw-bolder">{{pro_obj.product_name}}</h5>
                                   <!-- Product reviews-->
                                   <div class="d-flex justify-content-center small text-warning mb-2">
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                   </div>
                                   <!-- Product price-->
                                   <span class="text-muted text-decoration-line-through">Pkr {{pro_obj.prduct_price}}</span>
                                   Pkr {{pro_obj.deal_price}} <br>
                                   {{pro_obj.product_des}}
                               </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                               <div class="text-center"><button class="btn btn-outline-dark mt-auto" id="add-cart" data-product-id="{{ pro_obj.id }}">Add to cart</button></div>
                           </div>
                       </div>
                   </div>
                   {% else %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{pro_obj.product_image.url}}" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{pro_obj.product_name}}</h5>
                                        <!-- Product price-->
                                        PKR : {{pro_obj.prduct_price}} <br>
                                        {{pro_obj.product_des}}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><button class="btn btn-outline-dark mt-auto" id="add-cart" data-product-id="{{ pro_obj.id }}">Add to cart</button></div>
                                </div>
                            </div>
                        </div>
                    

                    {% endif %}
                   {% endfor %}
                  
                
               
                </div>
            </div>
        </section>

        <script>
            // Check if button pressed
            $(document).on('click', '#add-cart', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'cart_add' %}",
                    data: {
                product_id: $(this).data('product-id'),
                product_qty: $('#qty-cart').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
                    },
            
                    success: function(json){
                        console.log(json)
                         document.getElementById("cart_quantity").textContent = json.qty
                       
                        // location.reload();
                    },
            
                    error: function(xhr, errmsg, err){
                        console.log(errmsg, err)
            
                    }
            
            
                });
            
            
            
            })
            
            
            
            
            </script>
            
  
 
{% endblock %}




